@page "/third-party-script"
@* TTI (Time to Interactive) is the most important metric for third-party scripts, as it measures when the page is usable after the script loads. *@
@inject IJSRuntime JS

<h1>Third-party Script Test</h1>

<blockquote class="twitter-tweet">
    <a href="https://twitter.com/Twitter/status/1456342957031704579">Loading Twitter Widget...</a>
</blockquote>

<p>This page loads a third-party script to measure FCP, LCP, and TTI.</p>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Dynamically load the Twitter widget script
            await JS.InvokeVoidAsync("eval", @"
                var s = document.createElement('script');
                s.src = 'https://platform.twitter.com/widgets.js';
                s.async = true;
                document.body.appendChild(s);
            ");
        }
    }
}
